@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto+Slab:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Playfair+Display&family=Poppins:wght@400;500&display=swap');

html {
  box-sizing: border-box;
}

* {
  color: #121212;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  align-items: center;
  background-color: #f5f6fa;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

main {
  background-color: #fafafa;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgb(118, 114, 114);
  flex-direction: column;
  height: 68.563rem;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0 0 49.625rem;
  width: 87.5rem;
  margin-top: 5%;
}

button,
select,
.option {
  cursor: pointer;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.gray {
  opacity: 0.5;
}

.top-section {
  background-color: #fff;
  height: 6rem;
  margin: 0 0 2.375rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  width: 87.5rem;
}

nav {
  align-items: center;
  column-gap: 50px;
  justify-content: flex-start;
  flex-grow: 1;
  display: flex;
}

.logo {
  color: #0290ff;
  font-size: 2rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  letter-spacing: normal;
  line-height: normal;
}

.arip {
  font-size: 1rem;
}

.logo:visited {
  color: #0290ff;
}

nav > * {
  color: #121212;
  font-size: 0.813rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1.9px;
  line-height: normal;
  opacity: 0.5;
}

.active {
  opacity: 1;
}

/* BookCard */
.book-card {
  background-color: #fff;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  height: 10.625rem;
  margin: 2.313rem 6.25rem 0;
  padding: 2rem 0 1.625rem 1.688rem;
  width: 75rem;
  justify-content: space-between;
}

.left-part {
  width: 50%;
}

.category {
  color: #121212;
  font-size: 0.975rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  height: 1.125rem;
  letter-spacing: normal;
  line-height: normal;
  opacity: 0.5;
  width: 10.063rem;
}

.book-title {
  color: #121212;
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  height: 1.813rem;
  letter-spacing: -0.2px;
  line-height: normal;
}

.book-author {
  color: #4386bf;
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  height: 1.188rem;
  letter-spacing: normal;
  line-height: normal;
  margin: 0.25rem 0 0;
  width: 6.688rem;
  padding-top: 2px;
}

.options {
  align-items: center;
  margin-top: 20px;
}

.option,
.delete {
  color: #4386bf;
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  height: 1.188rem;
  letter-spacing: normal;
  line-height: normal;
  margin: 0.188rem 0.938rem 0.125rem 0;
  width: 4.563rem;
  background-color: white;
  border-style: none;
}

.line {
  border: solid 1px #e8e8e8;
  height: 1.5rem;
  margin: 0.75rem 1.063rem 0 0.938rem;
  width: 0.125rem;
}

.big-line {
  width: 0.125rem;
  height: 4.375rem;
  margin: 1.125rem 3.688rem 0 4.938rem;
  border: solid 1px #e8e8e8;
}

.center-part {
  align-items: center;
  justify-content: center;
  margin-left: 150px;
}

.center-part .data {
  margin-left: 20px;
}

.circular-progress {
  border-radius: 50%;
  width: 4.25rem;
  height: 4.25rem;
  border: 5px solid #307bbe;
  border-left-color: #e8e8e8;
  -webkit-transform: rotate(50deg);
  transform: rotate(55deg);
}

.percentage {
  font-size: 40px;
}

.completed {
  margin-bottom: 15px;
}

.right-part {
  row-gap: 5px;
  width: 32%;
}

.chapter {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.update-btn {
  background-color: #0290ff;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: white;
  border-style: none;
  padding: 5px 25px;
  margin-top: 15px;
  width: 180px;
  border-radius: 2px;
}

.horizontal-line {
  width: 75rem;
  height: 0.125rem;
  margin: 50px auto 30px auto;
  border: solid 1px #e8e8e8;
}

.add-section {
  width: 75rem;
  margin: 0 auto;
}

.add-section h3 {
  color: #888;
}

form {
  justify-content: flex-start;
  column-gap: 50px;
  align-items: center;
  margin-top: 20px;
}

.title-input,
.author-input,
.add-button,
.category-input,
select {
  border-style: none;
  height: 40px;
  background-color: white;
}

.title-input,
.author-input,
.category-input,
select {
  width: 33%;
}

.add-button {
  background-color: #0290ff;
  font-family: 'Roboto Slab', serif;
  border-style: none;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  font-size: 12px;
  width: 120px;
}

.category-input {
  color: #888;
}

.hover:hover {
  border: 2px solid #4386bf;
  border-radius: 3px;
}

input,
input::placeholder {
  padding-left: 4px;
  font-size: 16px;
}

input {
  border: none;
}

.check-btn {
  margin-top: 10%;
  margin-left: 45%;
}

.select {
  font-size: 16px;
}
